<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.js"></script>
  <style type="text/css">
  </style>
</head>
<body>
  <div id="app">
    <template v-if="ok">
      <h1>Title</h1>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>

    <h1 v-show="!ok">Another Title</h1>

    <!-- <template v-if="loginType === 'username'">
      <label>Username: </label>
      <input placeholder="Enter your username"/>
    </template>
    <template v-else>
      <label>Email: </label>
      <input placeholder="Enter your email"/>
    </template>
    <div>
      <button v-on:click='toggleLoginType'>Toggle login type</button>
    </div>
  </div> -->

  <template v-if="loginType === 'username'">
      <label>Username: </label>
      <input placeholder="Enter your username" key='username-input'/>
    </template>
    <template v-else>
      <label>Email: </label>
      <input placeholder="Enter your email" key='email-input'/>
    </template>
    <div>
      <button v-on:click='toggleLoginType'>Toggle login type</button>
    </div>

  </div>

</body>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      ok: true,
      loginType: 'username'
    },
    computed: {
      
    },
    methods: {
      toggleLoginType: function() {
        this.loginType = (this.loginType === 'username'? 'email' : 'username');
      }
    }
  });
</script>
</html>